aiohttp==3.13.2
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
av==16.0.1
black==25.12.0
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
dnspython==2.8.0
frozenlist==1.8.0
google-crc32c==1.8.0
h264-profile-level-id==1.0.0
idna==3.11
ifaddr==0.2.0
multidict==6.7.0
mypy-extensions==1.1.0
netifaces==0.11.0
packaging==25.0
pathspec==0.12.1
pip==26.0
platformdirs==4.5.1
pycparser==2.23
pydantic==2.12.5
pyee==13.0.0
pygments==2.19.2
pyjwt==2.10.1
pylibsrtp==1.0.0
pymediasoup==1.2.1
pyopenssl==25.3.0
python-dotenv==1.2.1
sdp-transform==1.1.0
setuptools==80.9.0
tomli==2.3.0
typing-extensions==4.15.0
websockets==15.0.1
yarl==1.22.0
